DB_HOST=localhost
DB_NAME=retailpulse
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_PORT=5432
PG_DUMP_PATH=C:\Program Files\PostgreSQL\16\bin\pg_dump.exe
FLASK_DEBUG=True
GEMINI_API_KEY=your_gemini_api_key

MAIL_USERNAME=your_gmail_address@gmail.com
MAIL_PASSWORD=your_gmail_app_password
FRONTEND_URL=http://localhost:5173
